@font-face{
    font-family: "Sketch";
    src: url('/static/fonts/Sketch\ 3D.otf') format('opentype');
}
@font-face{
    font-family: "Running on empty";
    src: url('/static/fonts/RUNNING\ ON\ EMPTY.ttf') format('truetype');
}
@font-face{
    font-family: "Kiddos";
    src: url('/static/fonts/kiddos.otf') format('opentype');
}
@font-face{
    font-family: "FunSized";
    src: url('static/fonts/FunSized.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-family: Kiddos;
    color: #000000;
    background-color: rgba(0,0,0,.7);
    
}
.logo{
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 34px;
}
.nav-links{
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    width: 38%;
    
}
.nav-links b{
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 22px;

}
.nav-links li{
    list-style-type: none;
}
.burger{
    display: none;
}
.burger div{
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color: #ffffff;
    transition: all 0.35s ease;
}
@media screen and (max-width:820px){
    .nav-links{
        width: 40%;
    }
}
@media screen and (max-width:820px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100%;
        top: 6vh;
        background-color: rgba(0,0,0,.7);
        display: flex;
        flex-direction: column;
        /* justify-content:center; */
        align-items:center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li{
        opacity: 0;

    }
    .burger{
        display: block;
        cursor: pointer;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
body{
    background: url("/static/images/newyork.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    width: 100%;
    height: 100%;
}
p{
    /* padding-left: 5%;
    padding-top: 5%; */
    position: absolute;
    font-family: Sketch;
    color: #ffffff;
    text-align: center;
    font-size: 170px;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    line-height: 150px;
    letter-spacing: 20px;
}
.color-overlay{
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .27;
}
section{
    width: 100%;
    height: 100%;
    background: #E7BB66;
}
h1{
    font-family: Sketch;
    font-style: normal;
    font-weight: normal;
    color: #26A2D7;
    text-shadow: 4px 5px 0px #ED8559;
    font-size: 108px;
    text-align: right;

    padding-right: 5%;
    padding-top: 2%;
   
}
h2{
    font-family: kiddos;
    font-size: 40px;
    color: #26A2D7;
    text-align: left;
    padding-left: 3%;
    padding-top: 6%;

}
h5{
    position: absolute;
    font-family: kiddos;
    color: #26A2D7;
    text-align: left;
    font-size: 30px;
    padding-left: 60%;
    padding-top: 19%;
}

.split {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 100%;
}
.left {
    width: 49%;
    left: 0;

}
.right {
    right: 0;
    width: 51%;

}
p2{
    font-family: FunSized;
    color: #26A2D7;
    text-shadow: 4px 5px 0px #ED8559;
    font-size: 70px;
    text-align: center;
    padding-left: 11.4%;
    padding-top: 85%;
    z-index: 1;
    position: absolute;
}
p3{
    font-family: Kiddos;
    font-size: 60px;
    color: #ffffff;
    padding-top: 79%;
    padding-left: 77%;
    position: absolute;
    text-align: center; 
}
img{
    width: 370px;
    object-fit: cover;
    padding-top: 10%;
    padding-left: 6%;
    /* box-shadow: -20px 21px 28px rgba(0, 0, 0, 0.36); */
    mix-blend-mode: normal;
    position: absolute;
}
#arrowlengkung{
    width: 55%;
    z-index: 2;
    box-shadow: none;

    padding-left: 40%;
    margin-top: 40%;
    position: relative;
    /* transform: rotate(25deg); */
    transform: matrix(0.94, 0.35, 0.35, -0.94, 0, 0);
    
}
#get-to-know-me{
    /* background: url(amerika.jpg)no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    width: 100%;
    height: 100%; */
    background-color: #E7BB66;
}


b{
    position: absolute;
    font-family: Sketch;
    font-style: normal;
    font-weight: normal;
    color: #26A2D7;
    text-shadow: 4px 5px 0px #ED8559;
    font-size: 108px;
    text-align: left;
    margin-top: 2%;
    padding-left: 3%;
    z-index: 1;
}
c{
    position: absolute;
    font-family: Running on empty;
    font-size: 70px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.27);
    padding-left: 10%;
    padding-top: 30%; 
}
#arrow-kanan{
    position: absolute;
    width: 20%;
    padding-top: 10.5%;
    padding-left: 10%;
    transform: rotate(28deg);
}
#instagram{
    position: absolute;
    width: 7.5%;
    padding-top: 14.5%;
    padding-left: 29%;
}
#vsco{
    position: absolute;
    width: 15%;
    padding-top: 10.8%;
    padding-left: 35%;
}
#flickr{
    position: absolute;
    width: 14%;
    padding-top: 14.5%;
    padding-left: 45.3%;
}
#linkedin{
    position: absolute;
    width: 7.5%;
    padding-top: 14.5%;
    padding-left: 59%;
}
#arrow-lurus{
    position: absolute;
    padding-left: 26%;
    padding-top: 31.3%;
    width: 9%;
}
#python{
    position: absolute;
    width: 6%;
    padding-left:37% ;
    padding-top:30.2% ;
}
#java{
    position: absolute;
    width: 6.3%;
    padding-left: 45% ;
    padding-top: 30%;
}
#html{
    position: absolute;
    width: 6.3%;
    padding-left:52.3% ;
    padding-top:30% ;
}
#css{
    position: absolute;
    width: 6.3%;
    padding-left:59% ;
    padding-top:30% ;
}

/* models and form */

button#friendButton {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 200px;
   
}

input#submitBtn {
    display: block;
    color: black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 200px;
    border: none;
}

head {
    font-size: 20px; 
  
}












