
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<title>Add Friends</title>
<br><br><br><br>
<h1 id="profh1">Add Friends</h1>
<form method="post" action="{% url 'homepage:addfriend' %}">
    {% csrf_token %}
    <div style="margin-left: 250px; margin-right: 250px;">
    <div class="form-row">
        <div class="col-sm-1"></div>
        <div class="form-group col-sm-10">
            {% for fields in form %}
                {{ fields.label_tag }}
                <br>
                {{ fields }}
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <input id="submitBtn" type="submit" class="btn btn-primary" value="Add">
    </div>
</form>
</div>
{% endblock %}