{% extends 'navbar.html' %}

{% load static %}

{% block content %}

       
       <p>Welcome to My Website</p>
            <div class="color-overlay"></div>
            
            <section>
                <div class="split right">
                    <h1>Who am I ?</h1>
                    <h2>Muhammad Gibran Raksadinno<br>University of Indonesia<br>Faculty of Computer Science</h2>
                    <h5>A 20 years old CS student that loves to travel, taking photos, playing soccer but hates to code.</h5>
                </div>
                <!-------------------------------->
                <div class="split left">
                    <!-- <p3>This is Me !!!</p3>  -->
                    <img src="{% static 'images/me.JPG' %}" alt="Me">
                    <!-- <img id="arrowlengkung" src="{% static 'images/arrowlengkung.png' %}" alt="arrow"> -->
                </div>
            </section>

            <section id="get-to-know-me">
            <!-- <a>Get to Know Me ...</a> -->
            <!-- <c>Skills</c> -->
<!--      
            <img id="arrow-kanan" src="{% static 'images/arrowlengkung.png' %}" alt="arrow-kanan">
            <img id="arrow-lurus" src="{% static 'images/arrowlurus.png' %}" alt="arrow-lurus">
            <img id="arrow-kiri" src="{% static 'images/arrowlengkung.png' %}" alt="arrow-kiri"> -->
            

            <img id="instagram" src="{% static 'images/instagram.png' %}" alt="instagram"></x>


            <img id="vsco" src="{% static 'images/vsco.png' %}" alt="vsco"></y>


            <img id="flickr" src="{% static 'images/flickr.png' %}" alt="flickr"></z>

          
            <img id="linkedin" src="{% static 'images/linkedin.png' %}" alt="linkedin">

            <img id="python" src="{% static 'images/python.png' %}" alt="python">
            <img id="java" src="{% static 'images/java.png' %}" alt="java">
            <img id="html" src="{% static 'images/html.png' %}" alt="html">
            <img id="css" src="{% static 'images/css.png' %}" alt="css"> 
            </section>

            {% endblock %}