<!DOCTYPE html>
<html>
    <head>
        {% load static %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title>Gibran's Website</title>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        </head>

        <body>
            <nav style="color: #26A2D7;">
                <div class="logo">
                    <d>Hello !</d>
                </div>
                <ul class="nav-links">
                    <li>
                        <a style="color: #26A2D7;" href="#">Home</a>
                    </li>
                    <li style="color: #26A2D7;">
                        <a style="color: #26A2D7;" href="#">About</a>
                    </li>
                    <li style="color: #26A2D7;">
                        <a style="color: #26A2D7;" href="#">Work</a>
                    </li>
                    <li style="color: #26A2D7;">
                        <a style="color: #26A2D7;" href="#">Our Project</>a
                    </li>
                    <li style="color: #26A2D7;">
                        <a style="color: #26A2D7;" href='{% url 'homepage:seefriend' %}'>Friends</a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        {% block content %}

        {% endblock %}

        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>