{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<title>See Friends</title>
<br><br><br><br>
<h1 id=head>Friends List</h1>
<hr>

<div>
  <div class="col-sm-2"></div> 
  <table id="friendtable" style="position: center;" class="table table-hover col-sm-8">
      <thead class="table table-striped table-dark">
        <tr>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col" style="text-align:center">Batch</th>
          <th scope="col" style="text-align:center">Hobby</th>
          <th scope="col" style="text-align:center">Favorite Food</th>
          <th scope="col" style="text-align:center">Favorite Drink</th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
          <tr style="background-color: #ED8559 ;">
            <td style="text-align:center">{{ friend.name }}</td>
            <td style="text-align:center">{{ friend.ClassYear }}</td>
            <td style="text-align:center">{{ friend.hobby }}</td>
            <td style="text-align:center">{{ friend.food }}</td>
            <td style="text-align:center">{{ friend.drink }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <div class="col-sm-2"></div>
</div>

<a href="{% url 'homepage:addfriend' %}" style="text-decoration: none;"> 
  <button id="friendButton" type="button" class="btn btn-light">
    Add Friends</button>
</a>

{% endblock %}
